.btn{
  &:link,
  &:visited{
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 6rem;
    /* inline-block allows to set a width and height on the element */
    display: inline-block;
    border-radius: 10rem;
    transition: all .3s;
    position: relative;
  }
  &:hover{
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, .3);
      /* after pseudo element when we have the button on the hover state */
  &::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
    }
  }
  &:active{
    transform: translateY(-1px);
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .3)
  }
  &--white{
    background-color:$color-white;
    color: $color-pink;
    &::after {
    background-color:$color-white
    }
  }
  /* the after pseudo element will be essential for creating a powerful effect after clicking the button*/
  &::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    /* for it to see what is behind the button */
    z-index: -1;
    transition: all .4s;
  }
  &--animated{
    animation: slideInFromBottom .5s ease-out .75s;
    /* it will automatically apply the styles up to zero percent before the animation starts. The styles in the slideInFromBottom will apply before the animation starts*/
    animation-fill-mode: backwards;
  }
}
