// COLORS
$color-pink:#E77170;
$color-pink-secondary:rgb(255, 236, 236);
$color-blue-light:#C2CAD0;
$color-grey-light:#C2B9B0;

$color-brown-dark:#7E685A;
$color-orange:#e29481;
$color-green-light:#AFD275;
$color-black:#000;

$color-grey-light-1:#f7f7f7;
$color-grey-light-2:#eee;

$color-grey-dark:#777;
$color-white: white;
$color-black: #000;

// FONTS
$default-font-size:1.6rem;