/* Universal Selector */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

/* font-size: 10px; - "bad practice", should not be pixels because by doing so you will override the browser font size setting that the user can manually change in the settings, for example when the user can not see so good. The user will be able to change the default font size however our root font size will remain unaffected.  */
/* change to percentage will translate to a percentage of the font size given by the browser. By default the page will set to 16px. So if we put 100% this would mean that the root font size would be 16 pixel if the user doesnt change anything and if the user does change the default font size, lets say to 18px then the root font size will be 18 px. If you dont want it to be 16px by default all you have to do is divide what you want by 16px...so 10/16 = .625. 62.5%. 62.5 * 16 = 10px  With this you allow the user to actually zoom in on the page automatically, not only to change the font size but to also zoom in on the page */
html {
  font-size: 62.5%; }

body {
  height: 100%;
  min-height: 100%;
  box-sizing: border-box; }

#canvas {
  background: #5CDB95;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0; }

@keyframes slideInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px); }
  80% {
    transform: translateX(20px); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes slideInRight {
  0% {
    opacity: 0;
    transform: translateX(100px); }
  80% {
    transform: translateX(-10px); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes slideInFromBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7; }

.heading-primary {
  margin-bottom: 5rem;
  color: #05386B;
  font-family: 'Montserrat', sans-serif; }
  .heading-primary--main {
    display: block;
    font-size: 4rem;
    font-weight: 400;
    letter-spacing: 0.5rem;
    animation: slideInLeft 1s; }
  .heading-primary--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 0.75rem;
    animation: slideInRight 1s ease-out; }

.heading-secondary {
  font-size: 2.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-color: #ecf1f3;
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: .2rem;
  transition: all .2s; }
  .heading-secondary:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }

.u-margin-top-small {
  margin-top: 1.5rem !important; }

.u-margin-top-medium {
  margin-top: 4rem !important; }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-margin-top-huge {
  margin-top: 10rem !important; }

.u-padding-left {
  padding: 2.5rem; }

.u-contact-color {
  color: #05386B; }

.u-icon {
  font-size: 5rem; }

.bio {
  background-color: #05386B;
  padding: 5rem;
  text-align: justify;
  text-align-last: center; }
  .bio--text {
    color: white;
    padding-left: 22rem;
    padding-right: 22rem; }

.btn {
  /* the after pseudo element will be essential for creating a powerful effect after clicking the button*/ }
  .btn:link, .btn:visited {
    font-family: 'Ubuntu', sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 6rem;
    /* inline-block allows to set a width and height on the element */
    display: inline-block;
    border-radius: 1rem;
    transition: all .3s;
    position: relative; }
  .btn:hover {
    transform: translateY(-3px);
    /* after pseudo element when we have the button on the hover state */ }
    .btn:hover::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0; }
  .btn:active {
    transform: translateY(-1px); }
  .btn--white {
    background-color: #05386B;
    color: white; }
    .btn--white::after {
      background-color: #05386B; }
  .btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 1rem;
    position: absolute;
    top: 0;
    left: 0;
    /* for it to see what is behind the button */
    z-index: -1;
    transition: all .4s; }
  .btn--animated {
    animation: slideInFromBottom .5s ease-out .75s;
    /* it will automatically apply the styles up to zero percent before the animation starts. The styles in the slideInFromBottom will apply before the animation starts*/
    animation-fill-mode: backwards; }

.connect__icon {
  cursor: pointer;
  transition: all 0.3s;
  backface-visibility: hidden; }
  .connect__icon:hover {
    transform: translateY(-2rem); }

.footer__copyright {
  color: #05386B; }

.skills {
  background-color: #05386B;
  width: 100%;
  height: 8rem;
  position: absolute; }
  .skills-content {
    border-radius: 1.5rem;
    background-color: #ecf1f3;
    margin-left: 15rem;
    margin-right: 15rem;
    height: auto;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    position: relative;
    padding: 3rem 2rem; }
  .skills-cards ul {
    list-style: none; }
  .skills-heading {
    text-decoration: underline; }

/* ^ allows to select only the ones that start with "col-"
* allows to select ANY classes that contain "col-" 
$ allows to select ANY classes that end with "col-"*/
.row {
  max-width: 114rem;
  margin: 0 auto; }

.row::after {
  content: "";
  display: table;
  clear: both; }

/* we want the property to take affect on every row besides the last row. */
.row:not(:last-child) {
  margin-bottom: 8rem; }

[class^="col-"] {
  float: left; }

[class^="col-"]:not(:last-child) {
  margin-right: 6rem; }

.col-1-of-2 {
  width: calc((100% - 6rem) / 2);
  /*  */ }

.col-1-of-3 {
  width: calc((100% - 2 * 6rem) / 3); }

.col-2-of-3 {
  width: calc(2 * ((100% - 2 * 6rem) / 3) + 6rem); }

.col-1-of-4 {
  width: calc((100% - 3 * 6rem) / 4); }

.col-2-of-4 {
  width: calc(2 * ((100% - 3 * 6rem) / 4) + 6rem); }

.col-3-of-4 {
  width: calc(3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem); }

.header {
  text-transform: uppercase;
  height: 100vh;
  background-size: cover;
  background-position: top;
  position: relative; }
  .header__text-area {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

.section-about {
  color: white;
  margin-top: -3rem; }

.skills-list {
  height: auto; }

.section-project {
  background-color: #05386B; }

.section-contact {
  background-color: #5CDB95; }

.footer {
  background-color: #5CDB95; }
