@import "./base/base";
@import "./base/animations";
@import "./base/typography";
@import "./base/utilities";

@import "./abstract/mixins";
@import "./abstract/variable";

@import "./components/bio";
@import "./components/button";
@import "./components/connect-icons";
@import "./components/footer";
@import "./components/skills";

@import "./layout/footer";
@import "./layout/grid";
@import "./layout/header";
@import "./layout/navigation";

@import "./pages/home";

