.section-about{
  color: $color-white;
  margin-top: -3rem;
}

.skills-list{
  height: auto;
  // margin-bottom: 5rem;
}

.section-project{
background-color: #05386B;
}

.section-contact {
 background-color: #5CDB95;
}

.footer {
  background-color: #5CDB95;
}