body{
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
}

.heading-primary{
  // backface-visibility: hidden;
  margin-bottom: 5rem;
  color:#05386B;
  font-family: 'Montserrat', sans-serif;

  &--main{
  display: block;
  font-size: 4rem;
  font-weight: 400;
  letter-spacing: 0.5rem;
  animation: slideInLeft 1s;
  }
  &--sub{
  display: block;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 0.75rem;
  animation: slideInRight 1s ease-out;
  }
}
.heading-secondary {
  font-size: 2.5rem;
  text-transform: uppercase;
  font-weight: 700;
  // with this inline block, the element is placed as an inline element on the same line as the adjacent content
  display: inline-block;
  background-color: #ecf1f3;
  // this property allows the background to get clipped exactly where the text is
  -webkit-background-clip: text;
  // if you don't make it transparent, you will see the text which sits on top of the clipped background and so you want to make the text invisible/transparent
  color: transparent;
  letter-spacing: .2rem;
  transition: all .2s;
  
  &:hover {
  transform: skewY(2deg) skewX(15deg) scale(1.1);
  text-shadow: .5rem 1rem 2rem rgba(black, .2);
  }
  }

// .project-heading-text{
//   color: white;
// }