body{
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
}

.heading-primary{
  // backface-visibility: hidden;
  margin-bottom: 5rem;
  color:#05386B;
  font-family: 'Montserrat', sans-serif;

  &--main{
  display: block;
  font-size: 4rem;
  font-weight: 400;
  letter-spacing: 0.5rem;
  animation: slideInLeft 1s;
  }
  &--sub{
  display: block;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 0.75rem;
  animation: slideInRight 1s ease-out;
  }
}

.project-heading-text{
  color: white;
}